@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(135deg, var(--korea-blue), var(--korea-red));
    color: white;
  }

  :root {
    --korea-red: #C91A3C;
    --korea-blue: #0047A0;
    --korea-black: #000000;
    --korea-gold: #D4AF37;
    --korea-blue-1:#074173;
    --korea-white:#FCF8F3;
  }